html * {
  font-family: Consolas, monospace;
}

header {
  display: block;
  text-align: center;
}



nav ul {
  margin: auto;
  width: 900px;
  list-style: none;
}

nav li {
  display:block;
  float:left;
  padding-left: 15px;
  padding-right: 15px;
}
article {
  padding-left: 150px;
  padding-right: 150px;
}
